symfony

cache/*

config/databases.yml
config/propel.ini

data/sql/*

log/*

lib/filter/base/*
lib/form/base/*
lib/model/om/*
lib/model/map/*

plugins/sfGuardPlugin/lib/filter/base/*
plugins/sfGuardPlugin/lib/form/base/*
plugins/sfGuardPlugin/lib/model/om/*
plugins/sfGuardPlugin/lib/model/map/*

plugins/sfPropelActAsTaggableBehaviorPlugin/lib/filter/base/*
plugins/sfPropelActAsTaggableBehaviorPlugin/lib/form/base/*
plugins/sfPropelActAsTaggableBehaviorPlugin/lib/model/map/*
plugins/sfPropelActAsTaggableBehaviorPlugin/lib/model/om/*
