{% extends "admin/layout.html.twig" %}

{% block content %}
<h1>Bejelentkezés</h1>

<form action="{{ path("admin_login") }}" method="post">
  {% if error %}
  <div class="alert alert-error">
    {{ error }}
  </div>
  {% endif %}

  <div class="clearfix">
    <label for="username">Felhasználónév:</label>
    <div class="input">
      <input type="text" name="username" id="username" />
    </div>
  </div>

  <div class="clearfix">
    <label for="password">Jelszó:</label>
    <div class="input">
      <input type="password" name="password" id="password" />
    </div>
  </div>

  <div class="actions">
    <input class="btn btn-primary" type="submit" value="Bejelentkezés" />
  </div>
</form>
{% endblock %}
